In [14]:
"""
function is block of code write once use it multiple times is an block of code to define the function in python!

syntax

def Name():
    expressions


types of userdifine function 
simple function
function with parameter 
function with positional argument
functional with keywrd argument
defoult paramiter function
arbitratory function
lamda functions
recursive function
"""

'\nfunction is block of code write once use it multiple times is an block of code to define the function in python!\n\nsyntax\n\ndef Name():\n    expressions\n\n\ntypes of userdifine function \nsimple function\nfunction with parameter \nfunction with positional argument\nfunctional with keywrd argument\ndefoult paramiter function\narbitratory function\nlamda functions\nrecursive function\n'

In [33]:
#simple function
def Data():
    print("simple function")
Data()

#function with positional argument
def Data(name,age,city):
    print(f"my name is {name} my age is {age} live in {city}")
Data("imran",25,"Solapur")

#function with key-word argument
def Data(name,age,city):
    print(f"my name is {name} my age is {age} live in {city}")
Data(age=25,name="imran",city="Solapur")

#defult parameter function
def Data(name,age,city="Solapur"):
    print(f"my name is {name} my age is {age} live in {city}")
Data("imran",25)

#arbitry functio:
    #variable length function retun Touple
def Add(*a):
    print(a)
Add(1,2,3,4,5,6)

#key-word argument variable length function return Dictnary
def Add(**a):
    print(a)
Add(a=1,b=2,c=3)

#lambda functions/Ananomouse function
    #a=lambda parameters:expressions
a= lambda a,b:a+b
print(a(10,5))

simple function
my name is imran my age is 25 live in Solapur
my name is imran my age is 25 live in Solapur
my name is imran my age is 25 live in Solapur
(1, 2, 3, 4, 5, 6)
{'a': 1, 'b': 2, 'c': 3}
15

In [34]:
#generator function 
def Abc():
    yield 'abc'
    yield 13
    yield 33
a=Abc()
print(next(Abc(a)))
print(next(Abc(a)))
print(next(Abc(a)))

13

In [16]:
#  create own length function

def len(x):
    c=0
    for i in x:
        c=c+1
    return c

len([1,2,3,4])

4

In [17]:
#upper and lower
def upper(x):
    for i in x:
        i=ord(i)
        print(chr(i-32),end="")
def lower(x):
    for i in x:
        i=ord(i)
        print(chr(i+32),end="")
        
upper("shaikh")
print()
lower("IMRAN")

SHAIKH
imran

In [18]:
def upper(a):
    s=""
    for i in a:
        if i!=" ":
            d=(ord(i)-32)
            s=s+(chr(d))
        else:
            s=s+" "
    return s
a="my name is khan"
upper(a)

'MY NAME IS KHAN'

In [19]:
range(1,10)

range(1, 10)

In [23]:
def print_numbers(n=1):
    if n<=10:
        print(n,end=" ")
        print_numbers(n + 1)

print_numbers()

1 2 3 4 5 6 7 8 9 10

In [25]:
def number(n):
    print(n,end=" ")
    n+=1
    if n<=10:
        return number(n)

number(1)

1 2 3 4 5 6 7 8 9 10

In [30]:
def outer(n):
    def inner(n1):
        print(n*n1,end="   ")
        n1+=1
        if n1<=10:
            return inner(n1)
    inner(1)
    print()
    n+=1
    if n<=10:
        return outer(n)
outer(1)

1   2   3   4   5   6   7   8   9   10
2   4   6   8   10   12   14   16   18   20
3   6   9   12   15   18   21   24   27   30
4   8   12   16   20   24   28   32   36   40
5   10   15   20   25   30   35   40   45   50
6   12   18   24   30   36   42   48   54   60
7   14   21   28   35   42   49   56   63   70
8   16   24   32   40   48   56   64   72   80
9   18   27   36   45   54   63   72   81   90
10   20   30   40   50   60   70   80   90   100

In [32]:
def squre(x):
    a=[]
    for i in x:
        a.append(i**2)
    return a

squre([11,21,41,51])

[121, 441, 1681, 2601]